/*header class start*/
.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    margin: auto;
    padding: 92px 50px 96px 50px;
}
.header__menu {
    display: flex;
    align-items: center;
    max-width: 391.48px;
}
.header__links-list {
    display: flex;
    flex-direction: row;
    font-style: normal;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 18px;
    gap: 32.5px;
}
.header__links-list-item {
    list-style: circle;
}
.header__links-list-item_no-bullit {
    list-style: none;
}
.header__link {
    text-transform: lowercase;
    text-decoration: 1px underline rgb(0, 0, 0);
    text-underline-offset: 4px;
}
.header__link_active {
    text-decoration: none;
    padding-left: 0;
}
.header__logo {
    display: flex;
    object-fit: scale-down;
    width: 148px;
    height: 105px;
}
.header__address {
    min-width: 240px;
}
/*header class end*/