/*add style for sections.css*/
@import "./sections/cover.css";
@import "./sections/lots.css";
@import "./sections/about.css";
.content{

}
.overlay{
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}