/*add style for tags.css*/
@import url('./tags/header.css');
@import url('./tags/main.css');
@import url('./tags/footer.css');
/*style class*/
.address__style {
    display: flex;
    flex-direction: column;
    justify-self: end;
    font-style: normal;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.35;
    letter-spacing: 0%;
}
.address__text-decoration {
    text-decoration: 1px underline rgb(0, 0, 0);
    text-underline-offset: 4px;
}
.aligned-text {
    text-align: start;
}
.aligned-text_center {
    text-align: center;
}
.aligned-text_right {
    text-align: right;
}
.letter-spacing-extended {
    letter-spacing: 0.3em;
}
.no-letter-spacing {
    letter-spacing: 0;
}
.description-letter-spacing {
    letter-spacing: 1.1em;
}
